{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Shop'me!</h1> <br>
        <div class="grid">
            <div class="row">
                <div id='offset' class="col-lg-2"></div>
                <div id='animation-text' class="col-lg-5"></div>
                <div id='animation-image' class="col-lg-4"></div>
            </div>
        </div>
    </div>

    <hr>
    <div class="grid">
        <div id='catalogue' class="row"></div>
    </div>
</div>


 <footer>
    <p> Made by Xavier Chopin </p>
 </footer>

{% endblock %}
